<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}BeerTime
			{% endblock %}
		</title>

		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
		{# <link rel="stylesheet" href="{{ asset('css/style.css') }}"> {% block stylesheets %}{% endblock %} #}
		{{encore_entry_link_tags('app')}}

		{% block stylesheets %}{% endblock %}
	</head>

	{% include 'components/header.html.twig' %}
	<main>
		{% block body %}{% endblock %}
		</main>
		{% include 'components/footer.html.twig' %}

		<div>
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }}">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			{% endfor %}

		</div>

		{# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script> #}
		{% block javascripts %}
			{{encore_entry_script_tags('app')}}
		{% endblock %}
</body>
</html>
